doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    title 회원정보
    link(rel="stylesheet", href="/stylesheets/mypage.css")
  
  body
    .main-container
      // 기본 회원정보
      .container
        header.header
          h2 기본 회원정보
          nav.nav-bar
            a(href="/board/posts") 홈으로
        .info
          .row
            span.label 이름
            span.value
              form(action=`/user/${user.user_id}/update`, method="post") 
                // 변경 누르면 나오는 input창
                input.input-field(
                  type="text", 
                  value=user.user_nickname,
                  name="nickname",
                  placeholder="닉네임을 입력해주세요."
                  required)
                
                button(type="submit").btn-small 변경
            //- span.value= user.user_nickname
          .row
            span.label 아이디
            span.value= user.user_username
          .row
            span.label 비밀번호
            span.value= user.user_password
      
      .container_post
        h2 내가 쓴 게시글
        .info
          .row_post.header-row
            .col-num 번호
            .col-title 제목
            .col-views 조회수
            .col-actions 비고

          // 게시글 1
          each post in posts
            .row_post_list
              .col-num= post.post_id
              .col-title: a(href=`/board/post/${post.post_id}`)= post.post_title
              .col-views= post.post_views
              .col-actions
                form(action=`/board/post/${post.post_id}/edit`, method="get") 
                  button(type="submit").btn-small 수정
                form(action=`/board/post/${post.post_id}/delete`, method="post", onsubmit="return confirm('정말 삭제하시겠습니까?');")
                  button(type="submit").btn-small 삭제

          .nav_bar
            form(action=`/user/${user.user_id}/delete`, method="post", onsubmit="return confirm('정말 삭제하시겠습니까?');")
              button.nav.sig.delete-account-btn 회원탈퇴
