extend post_layout 

block content
  .container
    a(href="/board/posts") 
      h1 자유 게시판
    
    // 게시글 정보
    .post-info
      .row
        .label 제목
        .content #{post.post_title}
        .button-container
          if isAuthor
            form(action=`/board/post/${post.post_id}/edit`, method="get") 
              button.edit-btn(type="submit") 수정하기
              
            form(action=`/board/post/${post.post_id}/delete`, method="post", onsubmit="return confirm('정말 삭제하시겠습니까?');")
              button.delete-btn(type="submit") 삭제하기
          //- form(action=`/board/post/${post.post_id}/edit`, method="get") 
          //-   button.edit-btn(type="submit") 수정하기
      .row
        .label 작성자
        .content #{post.user_nickname}
        .label 작성일
        .content #{post.post_date}
        .label 조회수
        .content #{post.post_views}
    
    // 게시글 내용
    .post-content
      //- HTML 코드 그대로 작동되게끔
      p!= post.post_content 
      br
      br
      br
    
    // 댓글
    .comment-section
      .comment-title 댓글
      .comments
        each comment, index in comments
          .comment
            .comment-writer #{comment.user_nickname}
            .comment-text #{comment.comment_content}
            button.com-delete-btn(onclick="") 삭제
    
      // 댓글 입력
      .comment-input
        form(action="/comment/:id", method="post") 
          input.comment-content(type="text" placeholder="댓글을 입력해주세요.(100자)")
          button.submit-btn(onclick="") 완료